:root {
    --prim-color: #8d0acf; 
    --second-color: #f308a5; 
    --third-color: #e5e5e5; 
    --font-logo: 'Michroma', sans-serif;;
    --font-site: 'Roboto', sans-serif; 
  }

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--third-color);
    font-family: var(--font-site);   

    
    ul, li {
        list-style: none;
        list-style-type: none;
        
    }

    a {
        text-decoration: none;
        color: black;
    }
}


