.home-container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat (6, 1fr);
  grid-template-areas: 
      "s s s s s s s s s s s s"
      "p p p p p p p p p p p p"
      "ti ti ti ti ti ti ti ti ti ti ti ti"
      "g g g g g g g g g g g g"
      "ph ph ph ph ph ph ph ph ph ph ph ph"
      "i i i i i i i i i i i i";
  grid-row-gap: 3rem;

  @media (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(0.5, 1fr);
    grid-template-areas: 
        "s s s s s s s s s s s s"
        "ti ti ti ti ti ti p p p p p p"
        "g g g g g g g g g g g g"
        "ph ph ph ph ph ph ph ph ph ph ph ph"
        "i i i i i i i i i i i i";
  }
  
  
  // SLIDER
  .home-container-slider {
    grid-area: s;
    width: 100%;
    max-height: 100vh;

    img {
      width: 100%;
      max-height: 100vh;
    }
  }
  @media (min-width: 480px) {
    .home-container-slider {
      // border: 1px solid red;
      grid-area: s;
      width: 100%;
      height: 100%;
      
      .slider-top-image-containeri {
        // border: 2px solid blue;
        // margin-bottom: 0;
        
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
 


  // PRODUCTS
  .home-container-products {
    grid-area: p;
    /* border: 1px solid red; */

    img {
      border-radius: 10px;
    }

    .down {
      display: flex;
      padding-top: 1rem ;
      gap: 1rem;
    }
    .casti, .watch, .boxe {
      width: 100%;
      position: relative;
    }
    .casti>h3, .watch>h3, .boxe>h3 {
      position: absolute;
      bottom: -1rem; 
      left: 0; 
      height: 25%;
      width: 100%;
      padding-top: 6px;
      text-align: center;
      background-color:rgba(212, 210, 210, 0.521);
      color: var(--prim-color);
      border-radius: 10px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
  }



  // TRADEIN
  .home-container-tradein {
    grid-area: ti;

    img {
      width: 100%;
      border-radius: 10px;
      display: block;
    }
  }


  
  // GAMING

  .home-container-gaming {
    grid-area: g;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0;

    .gaming-div {
      // border: 1px solid red;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
    }

  }
    


  // INFO
  .home-container-info {
    // border: 1px solid red;
    grid-area: i;
    background-color: var(--third-color);
    display: flex;

    .home-container-info-inner {
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px 5px 8px;
      width: 50vw;

      .info-icons {
        color: var(--prim-color);
        width: 30px;
        height: 30px;
      }
    }
  }
  @media (min-width: 480px) {
    .home-container-info {
      display: block;
      // border: 1px solid red;
      // width: 100vw;
      height: 100%;

      .home-container-info-one, .home-container-info-two {
        // border: 1px solid blue;
        display: flex;
        flex-direction: row;

        p {
          // border: 1px solid yellow;
          text-align: center;
        }
      }
      .home-container-info-inner {
        // border: 1px solid yellow;
        display: flex;
        align-items: center;
        justify-content: center;

        .info-icons {
          color: var(--prim-color);
          width: 2em;
          height: 2em;
        }
      }
    }
  }
  // @media (min-width: 1024px) {
  //   .home-container-info {
      
  //   }

  // }

}

  

