.phones-container {
    // border: 1px solid red;

    .filter-container {
        padding: 1em 0;

        .filter-top {
            // border: 1px solid red;
            color: white;
            background-color: var(--prim-color);
            padding: 0.6em 1.2em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.4rem;
            border-top-right-radius: 0.6em;
            border-top-left-radius: 0.6em;
            cursor: pointer;

            &:hover {
                .chevron-up, .chevron-down {
                    color: var(--second-color);
                }
            }
            
            p {
                margin: 0;
            }
        }
        
        .filter-bottom {
            // border: 1px solid red ;
            background-color: var(--third-color);
            height: 3.5em;
            border-bottom-left-radius: 0.6em;
            border-bottom-right-radius: 0.6em;
            display: flex;
            padding: 5px;
            

            div {
                // border: 1px solid blue ;
                background-color: white;
                color: rgba(156, 156, 156, 0.753);
                width: 100%;
                margin-top: 4px;
                margin-bottom: 4px;
                margin-left: 50%;
                margin-right: 3%;
                padding-right: 15px;
                padding-left: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1.1em;
                cursor: pointer;

                &:hover {
                    color: var(--second-color);
                }

                .chevrontwo-down, .chevrontwo-up {
                    color: var(--prim-color);
                }

                p{
                    margin-right: auto;
                    padding-left: 10px;
                }

            }
            
        }

        .filter-top-filters-container {
            // border: 1px solid red;
            overflow: hidden;
            transition: max-height 0.4s;
            display: block; 
            margin-top: -7px;
            max-height: 0; 
            background-color: var(--third-color);
            border-bottom-left-radius: 0.6em;
            border-bottom-right-radius: 0.6em;
                
            &.open {
                max-height: 1000px;
            }

            .filter-top-filters {
                // border: 1px solid blue;
                margin-top: 1em;
                padding-top: 0.5em;
                border-top: 1px solid var(--prim-color);
            
                .filters {
                    border: 1px solid yellow;
                    padding: 1em 1.2em;
                    padding-right: 1.8em;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;

                    &:hover {
                    background-color: var(--prim-color);
                    color: white;
                    }
                } 

                .subfilters {
                    border: 1px solid blue;
                    overflow: hidden;
                    transition: max-height 0.4s;
                    margin-top: -7px;
                    max-height: 0; 
                    background-color: var(--third-color);
                    display: flex;
                    flex-direction: column;
                    padding: 0.7em 1.5em;
                    width: 100%;

                    &.open {
                        max-height: 400px;
                        width: 100%;
                        color: black;
                    }

                    .unselected-subfilter {
                        padding: 0.4em;
                        cursor: pointer;
                    }
                    .selected-subfilter {
                        border: 1px solid violet;
                    }
                } 


            }   
          
        }
    }   
}