/* Header Styles */
header {
  background-color: rgba(255, 0, 0, 0.288);
  width: 100%;
  display: flex;
  flex-direction: column;

  /* HEADER UP */
  .header-up {
    // border: 1px solid yellow;
    font-family: 'Roboto', sans-serif;
    background-color: var(--third-color);
    display: flex;
    padding: 0.4em 1em;
    align-items: center;
    justify-content: end;

    span {
      // border: 1px solid yellow;
      margin-left: 0.7em;
    }
    a {
      color: var(--second-color);
    }
  }

  /* HEADER MIDDLE */
  .header-middle {
    // border: 1px solid red;
    background-color: white;
    z-index: 1;
    position: relative;
    height: 3.8rem;
    display: flex;
    align-items: center;
    padding: 0 0.8em;
    gap: 1em;

    .header-middle-site-logo {
      // border: 1px solid green;
      // margin: auto 0;
      display: flex;
      align-items: cente;      
      justify-content: center;
    }
      h2 {
        // border: 1px solid blue;
        color: var(--prim-color);
        font-family: var(--font-logo);
        font-size: 1.8em;
        margin: 0;
        padding-bottom: 2px;   // logo text is in the center
      }

    .header-middle-icons {
      // border: 1px solid blue;
      display: flex;
      align-items: center;
      margin-left: auto;
      padding-left: auto;
      padding-top: 3px; // text is in the center
      gap: 0.9em;
      cursor: pointer;
      }
      .header-icon {
        color: black;
        height: 1.6rem;
        width: 1.6rem;
      }
      .header-icon-burger {
        color: black;
      }
  }

  /* HEADER DOWN */
  .header-down {
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .horizontal-scroll {
      overflow-x: auto;
      white-space: nowrap;
      display: flex;

      ul {
        padding: 0 1em;
        display: flex;
        gap: 1.2em;
        // padding: 1em;

        li {
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          p {
            margin-bottom: 0;
          }
          .gadget-icons {
            height: 2.1rem;
            width: 2.1rem;

          }
        }
      }
    }
  }

  /* BURGER MENU STYLE */
  .burger-container {
    display: none;
    z-index: 2;
    background-color: var(--prim-color);
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;

    &.open {
      display: block;

      .burger-container-close-button {
        position: absolute;
        color: var(--third-color);
        right: 0.9rem;
        top: 0.9rem;
        cursor: pointer;
      }

      .burger-container-up {
        // border: 1px solid yellow;
        padding: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 3.5em;
        flex-direction: row;
        margin-top: 3.5em;
        font-size: 1rem;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
      }

        .burger-icons-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 6px;
        }
        .burger-icons {
          width: 1.5rem;
          height: 1.5rem;
        }

      .burger-container-down {
        // border: 1px solid red;
        display: flex;
        padding-top: 1em;
        padding-left: 0.8em;
        flex-direction: column;
        font-size: 1.8rem;
        font-weight: bold;
        row-gap: 1em;
      }
        a {
          color: white;
        }

    }
  }

}

@media (min-width: 480px) {
  header {
    .burger-container { 
      width: 40vw;
    }
  }
}

// Media Query for Tablets (768px)
@media (min-width: 768px) {
  header {
    .burger-container { 
      width: 30vw;
      &.open {
        // border: 1px solid red;
        
        
        .burger-container-close-button {
        
          .burger-container-up {
           
            font-size: 1.0rem;
          }

          .burger-icons {
            width: 2.0rem;
            height: 2.0rem;
          }
        }
      }
    }


    .header-up {
      padding: 0.5em 1.5em;
    }

    .header-middle{
      // border: 1px solid red;
      background-color: white;
      height: 4rem;
      padding: 0 1.5em;
      gap: 1em;
  
        h2 {
          font-size: 2.2em;
        }

      .header-middle-icons {
        // border: 1px solid blue;
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-left: auto;
        padding-top: 3px; // text is in the center
        gap: 1.2em;

        .header-icon {
          height: 1.5rem;
          width: 1.5rem;
        }
      } 
    }
  
    .header-down {
      .horizontal-scroll {
        // border: 1px solid green;
        display: flex;
        margin: 0 auto;
  
        ul {
          // border: 1px solid red;
          padding-left: 0;
          width: 70vw;
          display: flex;
          align-items: center;
          justify-content: space-around;
  
          li {
           
            a {
              p {
                margin-top: 0.7em;
                margin-bottom: 0;
                font-size: medium;
              }
              .gadget-icons {
                height: 1.8rem;
                width: 1.8rem;
              }
            }
            
          }
        }
      }
    }
  }
}


@media (min-width: 1024px) {
  .header-down {
    .horizontal-scroll {
      // border: 1px solid red;
      width: 60vw;
      display: flex;
      margin: 0 auto;
      

      ul {
        // border: 1px solid red;
        width: 50vw;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

      }
    }
  }
}

@media (min-width: 1280px) {
  .header-down {
    .horizontal-scroll {
      // border: 1px solid red;
      width: 50vw;
      display: flex;
      margin: 0 auto;
      

      ul {
        // border: 1px solid red;
        width: 50vw;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

      }
    }
  }
}
